//ROMOCHKA
@font-face {
	font-family: 'Romochka';
	src: url('fonts/Romochka.eot');
	src: local('☺'), url('../fonts/Romochka.woff') format('woff'), url('../fonts/Romochka.ttf') format('truetype'), url('../fonts/Romochka.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}