//colors
$white: #fff;
$black: #000;
$grey: #313131;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);
$largeheight: (min-height: 860px);